.action-buttons {
    background-color: rgb(91, 231, 82);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    align-self: center;
    transition-timing-function: ease-in-out;
}

.action-buttons:hover {
    scale: 1.05 1.05;
}
